#
# Output...
OUT = bin/ejemplo
#
#
# Directories with source code
DIR_SRC_CXX = src
#
#
# library paths
LIBS = -L./mtk/external/lib/linux -L./mtk/lib -lmtksoporte
#
#
# include directories
INCLUDES = -I./src -I./mtk/src
